* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: antiquewhite;
  color: aqua;
}

h1, h2, h3c{
  margin-bottom: 0.5rem;
}

/* layout */
.page-container {
  padding: flex;
}

.shop-layout {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

/* Responsive */
@media (max-width: 768px) {
  .shop-layout {
    flex-direction: column;
  }
}